{{! <section class="vh-100" style="background-color: #ffff;"> }}
<div class="container py-2">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-12">
      <div class="card" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-6 d-none d-md-block">
            <img
              src="https://images.unsplash.com/photo-1498946187162-07b3c978b218?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="login form"
              class="img-fluid"
              style="height: 40rem;width:100% ;"
            />
          </div>
          <div class="col-md-6 col-lg-6 d-flex">
            <div class="card-body text-black">

              <div class="container mx-2">
                <form action="/admin/login" method="post">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219;"
                    ></i>
                    <span class="h1 fw-bold mb-3">
                      <img
                        src="/images/Screenshot from 2022-10-12 15-07-29.png"
                        alt=""
                        style="height: 3rem;width: 8rem;"
                      /></span>
                  </div>

                  <h5
                    class="fw-normal mb-3 pb-3"
                    style="letter-spacing: 1px;"
                  >Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example17"
                      name="email"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example27"
                      name="password"
                      class="form-control form-control-lg"
                    />
                    <label
                      class="form-label"
                      for="form2Example27"
                    >Password</label>
                  </div>

                  <div class="pt-1 mb-5">
                    <button
                      class="btn btn-dark btn-lg btn-block"
                      type="submit"
                    >Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{! </section> }}