<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center bg-dark">

  <div class="d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center" style="text-decoration: none;">
      <span class=" d-none d-lg-block text-light">GoalCart</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn text-light"></i>
  </div><!-- End Logo -->
</header><!-- End Header -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar bg-dark text-light">

  <ul class="sidebar-nav bg-dark" id="sidebar-nav">

    <li class="nav-item bg-dark">
      <a class="nav-link collapsed bg-dark" href="/admin/dashboard">
        <i class="fa-solid fa-chart-simple text-light"></i>
        <span class="bg-dark text-light">Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item ">
      <a class="nav-link collapsed bg-dark" href="/admin/orders">
        <i class="a-solid fa-arrow-down-short-wide text-light"></i>
        <span class="bg-dark text-light">Orders</span>
      </a>
    </li><!-- End Orders Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/users">
        <i class="fa-solid fa-users text-light"></i>
        <span class="bg-dark text-light ">Users</span>
      </a>
    </li><!-- End Users Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/products">
        <i class="fa-solid fa-cart-shopping text-light"></i>
        <span class="bg-dark text-light">Products</span>
      </a>
    </li><!-- End Products Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/category">
        <i class="fa-solid fa-list-check text-light"></i>
        <span class="text-light">Category</span>
      </a>
    </li><!-- End Category Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/sales-report">
        <i class="fa-solid fa-print text-light"></i>
        <span class="text-light">Sales Report</span>
      </a>
    </li><!-- End Sales-report Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/categoryOffers">
        <i class="fa-light fa-percent text-light"></i>
        <span class="text-light">Category Offer</span>
      </a>
    </li><!-- End Category Offer Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/productOffers">
        <i class="fa-light fa-percent text-light"></i>
        <span class="text-light">Product Offer</span>
      </a>
    </li><!-- End Product Offer Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/coupons">
        <i class="bi bi-journal-text text-light"></i>
        <span class="text-light">Coupon</span>
      </a>
    </li><!-- End Coupon Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/banner">
        <i class="fa-light fa-rectangle-ad text-light"></i>
        <span class="text-light">Banners</span>
      </a>
    </li><!-- End Banner Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed bg-dark" href="/admin/logout">
        <i class="bi bi-box-arrow-in-right text-light"></i>
        <span class="text-light">Logout</span>
      </a>
    </li>
  </ul>


</aside><!-- End Sidebar-->