<div class="container-xl px-4" style="margin-top:90px; width:60%;">
    {{!-- <nav class=" nav nav-borders">
        <a class="nav-link active ms-0" href="/profile" style="font-size: large; font-weight: 600;">Profile</a>
        <a class="nav-link" href="/address" style="font-size: large; font-weight: 600;">Address</a>
        <a class="nav-link" href="/password" style="font-size: large; font-weight: 600;">Password</a>

    </nav>
    <hr class="mt-0 mb-4"> --}}
    <div class="btn-group ms-5" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
        <label class="btn btn-outline-primary" for="btnradio2"><a href="/profile" style="text-decoration: none;">
                Profile</a></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
        <label class="btn btn-outline-primary" for="btnradio3">
            <a href="/address" style="text-decoration: none;"> Address</a></label>


        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
        <label class="btn btn-outline-primary" for="btnradio1">Passwords</label>
    </div>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
        <label class="btn btn-outline-primary" for="btnradio3">
            <a href="/wallet" style="text-decoration: none;"> Wallet</a></label>
    <div class="card mb-4 my-4">
        <div class="card-header">Password</div>
        <div class="card-body">
            <form action="/passwords" method="post">
                <!-- Form Group (username)-->
                <!-- Form Row-->

                <!-- Form Group (first name)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="currentPassword">Current Password</label>
                    <input class="form-control" id="oldPassword" name="password" type="password" required>
                </div>
                <!-- Form Group (last name)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="newPassword">New Password</label>
                    <input class="form-control" id="newPassword" name="newPassword" type="password" required>
                    <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span>
                </div>
                <!-- Form Row        -->

                <!-- Form Group (email address)-->

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (phone number)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="verifyPassword">Confirm Password</label>
                        <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                            required>
                        <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="id" name="_id" type="tel" value="{{user._id}}" hidden>
                    </div>
                </div>
                <!-- Save changes button-->
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>